h1{
    font: bold;
}
.nav-links{
    display: flex;
    align-items: center;
}

.link{
    list-style: none;
    display: flex;
    gap: 10rem;
    cursor: pointer;
}


.nav1{
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav2{
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav3{
    position: relative;
    font-weight: 600;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav4{
    position: relative;
    font-weight: 600;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav4contents{
    display: none;
    color: white;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px 1rem 1rem;
    z-index: 1;
    border-radius: 0rem 3rem 0rem 3rem;
    border: 10rem;
    border-color: white;
    background: linear-gradient(to right, rgb(109, 104, 180), rgb(66, 50, 205), rgb(36, 45, 131));
    border: 3px solid white;
    list-style: none;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav4contents:hover{
    color: black;
}

.nav4:hover .nav4contents{
    display: block;
}

